<div class="container">
 <table class="table">
    <thead>
      <tr>
        <th scope="col">Task</th>
        <th scope="col">Due Date</th>
        <th scope="col">Detial</th>
      </tr>
    </thead>


  
  <td> <%= simple_format @task.name %> </td>
  <td> <%=  @task.due_date %> </td>
  <td> <%= simple_format(@task.note) %> </td>
 </table>
  <%= link_to "Back to Home", tasks_path  %>

</div>
